.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #0D0842;
    margin: 0;
}

.topSellers {
    margin-bottom: 106px;
}

.select {
    background: rgba(234, 234, 234, 0.9);
    backdrop-filter: blur(75px);
    border-radius: 8px;
    align-items: center;
    padding: 7px 10px;
    border: none;
    margin: 20px 0 37px;
    box-sizing: border-box;
    border: none;
    height: 36px;
}

.option,
.select {
    font-family: 'Nunito Sans' !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #0D0842 !important;
}

.option:hover {
    border-left: 2px solid #0D0842;
}


@media screen and (max-width: 750px) {
    .topSellers {
        padding: 0 24px;
    }
    .title {
        font-weight: 500;
        font-family: 'Montserrat';
    }
    }