.header {
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
    padding-bottom: 85px;
}

.icon1 {
    margin-right: 30px;
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.button {
    margin-left: 40px;
    background: #FFCE1A;
    border-radius: 8px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 7px 0;
    width: 146px;
}

.input {
    background: #EAEAEA;
    border-radius: 8px;
    padding: 10px;
    border: none;
    width: 296px;
    height: 36px;
    box-sizing: border-box;
    margin-left: 100px;
}

.input::placeholder {
    background-image: url(../../Images/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 25px;
}


.burger {
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
}

.burger span {
    content: '';
    position: absolute;
    top: 8px;
    width: 20px;
    background-color: #0D0842;
    height: 1.7px;
    z-index: 2000;
}

.burger::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 24px;
    background-color: #0D0842;
    height: 1.7px;
    z-index: 2000;
}

.burger::before {
    content: '';
    position: absolute;
    top: 0;
    width: 24px;
    background-color: #0D0842;
    height: 1.7px;
    z-index: 2000;
}


@media screen and (max-width: 869px) {
    .input {
        margin-left: 50px;
    }
}

@media screen and (max-width: 750px) {

    .icon,
    .icon1 {
        display: none;
    }

    .button {
        width: 24px;
        background-color: transparent;
    }

    .input {
        margin-left: 45px;
    }

    .header {
        align-items: center;
        background-color: white;
        padding-left: 24px;
        padding-right: 24px;
        height: 100px;
        box-sizing: border-box;
        padding-top: 0;
        padding-bottom: 0;
    }
}


@media screen and (max-width: 490px) {
    .input {
        width: 206px;
        margin-left: 26px;
    }

}